%! Suppress = MissingImport
%! Suppress = Unicode
{%- if title %}
% title: {{ title }}
{%- endif -%}
{%- if author %}
% author: {{ author }}
{%- endif -%}
{%- if date %}
% date: {{ date }}
{%- endif -%}
{%- if categories %}
% categories:
{% for cat in categories %}% - {{cat}}
{% endfor -%}
{%- endif -%}
{%- if exercise_type %}
% type: {{ exercise_type }}
{%- endif -%}
{%- if status %}
% statut: {{status}}
{%- endif -%}
{%- if tags %}
% tags:
{% for tag in tags %}% - {{tag}}
{% endfor -%}
{%- endif -%}
{%- if description -%}
% description: {{description}}
{%- endif %}
\begin{defproblem}[][]{ {{-name-}} }

{% for cell in cells %}

{% if cell['type'] == 'solution_start' or cell['type'] == 'solution_start_end'%}
\begin{onlysolution}
\begin{solution}
{% endif -%}
{% if 'small' in cell['metadata']['tags'] %}
\small
{% endif %}
{% if 'footnotesize' in cell['metadata']['tags'] %}
\footnotesize
{% endif %}
{% if 'scriptsize' in cell['metadata']['tags'] %}
\scriptsize
{% endif %}
{% if 'tiny' in cell['metadata']['tags'] %}
\tiny
{% endif %}
{{- cell['source'] -}}
{% if 'small' in cell['metadata']['tags'] or 'footnotesize' in cell['metadata']['tags'] or 'scriptsize' in cell['metadata']['tags'] or 'tiny' in cell['metadata']['tags'] %}
\normalsize
{% endif %}
{% if cell['type'] == 'solution_end' or cell['type'] == 'solution_start_end'%}
\end{solution}
\end{onlysolution}
{% endif -%}
{% endfor %}

\end{defproblem}

