<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title></title>
	<style>
		.dataframe {
			border: solid 1px #DDEEEE;
			border-collapse: collapse;
			border-spacing: 0;
			font: normal 12px Verdana, Arial, sans-serif;
		}

		.dataframe thead th {
			background-color: #79b6ec;
			border: solid 1px #DDEEEE;
			color: #333333;
			padding: 10px;
			text-align: left;
		}

		.dataframe tbody td {
			border: solid 1px #DDEEEE;
			color: #333;
			padding: 4px 10px 4px 10px;
		}
	</style>
</head>

<body>
	{{ table }}
</body>

</html>